:root{
  --default-color : rgba(35, 194, 194);
  --error-color : magenta;
  background-color: white;
}

body{
  display: flex;
  margin:0px;
  height: 100vh;
  width: 100vw;
  font-size: calc(2vh + 5px);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,254,238,1) 24%);
}

body > div{
  width: 100%;
  height: 100%;
  color:var(--default-color);
}

@media only screen and (max-width: 600px) {
  #image-div {
      display: none;
  }
}

#image-div{
  flex: 1;
}

#content{
  flex:2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-text{
  flex:2;
  text-align: center;
}

#form-collection{
  flex:3;
  display: flex;
  flex-direction: column;
}

.form-row{
  padding-top: 1rem;
  flex:1;
  display: flex;
  justify-content: space-around;
}

.cell{
  display: flex;
  flex-direction: column;
  width:40%;
  font-size: .8em;
  justify-content: space-between;
}

.cell > input{
  border-color: var(--default-color);
  background:transparent;
  border-radius: .5rem;
  border-style: solid;
}

input:invalid{
  border-color: var(--error-color);
}

input:focus{
  outline-color: var(--default-color);
}

#submit{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-button{
  width: 10rem;
  font-size:1rem;
  border-radius: 1rem;
  border-width: .2rem;
  border-color: var(--default-color);
  border-style: solid;
  font-weight: 700;
  color: var(--default-color);
  background:none;
}

#submit-button:hover{
  background-color: var(--default-color);
  color:white;
}

#log-in{
  font-weight: 700;
  color:var(--error-color);
  text-decoration: none;
}
